* {
    padding: 0px;
    margin: 0px;
}
button{
    cursor: pointer;
    
}

header {
    text-align: center;
    padding: 20px;

    background-color: rgb(236, 86, 86);
}

header>h1 {
    letter-spacing: 2px;
    font-size: 40px;

}
.book_cont{
    padding: 30px;
    vertical-align: top;
}

.container {
    margin: 50px;
    padding: 20px;
    width: 25%;
    height: 160px;
    background-color: rgb(236, 86, 86);
    border: 2px solid black;
    border-radius: 40px;
    display: inline-block;

}

.container>button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: 1px;
    border: none;
    background-color: black;
    color: white;
}

.add_story {
    font-size: 100px;
    text-align: center;
    background-color: rgb(236, 86, 86);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: fixed;
    left: 90%;
    top: 80%;
    border: none;

}

.popup_overlay {
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.overlay {
    position: absolute;
    justify-content: center;
    top:25%;
    left: 33%;
    width: 600px;
    height: 430px;
    background-color: rgb(236, 86, 86);
    border-radius: 60px;
    
}

.overlay>h1 {
    padding: 20px;
}

.popupbox {
    margin-left: 40px;
   margin-bottom: 20px;
}
.popupbox>input{
    border: none;
    border-bottom: 2px solid black;
    margin: 10px;
    font-size: 25px;
    background: transparent;

}
.popup_buttons{
    display: flex;
    justify-content: space-evenly;
}
.popup_buttons>button{
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
}
.popupbox>textarea{
    border: none;
    border: 2px solid black;
    font-size: 25px;
    background: transparent;
    margin-left: 10px;

}
.popupbox>textarea::placeholder{
    color: black;
    
}
.popupbox>input::placeholder{
    color: black;
    
}
.popupbox>input:focus{
    outline: none;
}
.popupbox>textarea:focus{
    outline: none;
}